.temp_container {
  padding: 12px;
  max-width: 500px;
  margin: 120px auto;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 1px 17px 0px rgba(0, 27, 45, 0.09);
}

.temp_container p {
  margin: 0;
  color: #ee3a3a;
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}

ul.member_list {
  margin: 0;
  padding: 12px;
  list-style: none;
  max-height: 100px;
  min-height: 100px;
  overflow-y: auto;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 0.5px solid #838383;
}

ul.member_list li {
  margin: 5px 0;
}

.user_input {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.user_input input {
  height: 40px;
  padding: 5px;
  border-radius: 6px 0 0 6px;
  border: 0.5px solid #838383;
  width: calc(100% - 100px);
}

.user_input button {
  width: 100px;
  height: 40px;
  padding: 5px;
  background: purple;
  border: 0;
  color: #fff;
  border-radius: 0 6px 6px 0;
}

.temp_select {
  gap: 10px;
  display: flex;
  align-items: center;
}

.temp_select input {
  height: 42px;
  padding: 5px;
  border-radius: 6px;
  border: 0.5px solid #838383;
  width: calc(100% - 50%);
}

.temp_select button {
  border: 0;
  width: 50%;
  height: 42px;
  color: #fff;
  border-radius: 6px;
  background: #0a61c5;
}
